@import "tailwindcss";

.backgroundimg{
    background-image: url('https://wallpapercave.com/wp/wp9918579.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}